{% extends "widgets/main.html" %}
{% block content %}
    <div class="ui container centered with-padding grid stackable" style="margin-top: 50px">
        <div class="eight wide column">
            <div class="ui container center aligned">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}"
                         class="ui image medium middle aligned"/>
                </a>
            </div>
            <div class="ui attached message" style="margin-top: 40px">
                <div class="ui header centered">
                    <h3>Admin Login</h3>
                </div>
            </div>
            <div class="ui attached segment">
                <form class="ui form" id="login_form">
                    <div class="ui message error">
                        <div class="content">
                        </div>
                    </div>
                    <div class="ui message success">
                        <div class="content">
                            Welcome back ...
                        </div>
                    </div>
                    <div class="field">
                        <label for="username">Username: </label>
                        <input type="text" placeholder="Username" name="username" required id="username"/>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" name="password" required id="password">
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input tabindex="0" class="hidden" type="checkbox" name="remember">
                            <label>Remember me</label>
                        </div>
                    </div>
                    <button class="ui button fluid green" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            const loginForm = $("#login_form");
            const submitButton = loginForm.find(".ui.button");
            loginForm.find("input[type=checkbox]").on('change', function () {
                if ($(this).prop('checked')) {
                    submitButton.removeClass('disabled')
                } else {
                    submitButton.addClass('disabled')
                }
            });

            loginForm.on('submit', function (e) {
                e.preventDefault();

                loginForm.addClass("loading");
                $.ajax({
                    url: "/admin/login",
                    method: 'POST',
                    data: loginForm.serialize(),
                    success: function (result) {
                        let location = result['redirect'];

                        if (result.hasOwnProperty("remember_token")) {
                            let token = result['remember_token'];
                            document.cookie = "remember_token=" + token;
                        }
                        loginForm.removeClass("loading");
                        window.location.href = location;

                        // set cookie
                        loginForm.addClass("success");
                        submitButton.addClass("disabled");
                    },
                    error: function (result) {
                        loginForm.removeClass("loading");
                        let errors = result['responseJSON']['errors'];

                        let html = "<ul>";
                        errors.forEach(function (error) {
                            html += "<li>" + error + "</li>";
                        });
                        html += "</ul>";

                        loginForm.find(".ui.error.message .content").html(html);
                        loginForm.addClass("error");
                    }
                })
            })
        });
    </script>
{% endblock %}